@model string


<div class="form-group">
    @Html.Label( "Apelido" )
    @Html.TextBoxFor( model => model, new { data_bind = "value: $data, dynamicName: $parent.Apelidos().length", @class = "form-control" } )
</div>
<div class="delete-group">
    <span data-bind="click: $parent.removeApelido" class="glyphicon glyphicon-remove-circle btn-delete" title="remove this item"></span>
</div>

<br />
