@model KoMvcDynamicFields.Models.HomeViewModel.JobVM

<div class="dynamic-item">
    <div class="form-group">
        @Html.LabelFor(model => model.Company)
        @Html.TextBoxFor(model => model.Company, new { data_bind = "value: Company, dynamicName: $parent.Jobs().length", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Job)
        @Html.TextBoxFor(model => model.Job, new { data_bind = "value: Job, dynamicName: $parent.Jobs().length", @class = "form-control" })
    </div>
    <div class="delete-group">
        <span data-bind="click: $parent.removeJob" class="glyphicon glyphicon-remove-circle btn-delete" title="remove this item"></span>
    </div>
</div>


